<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Reset Tessellates password</h1>
    <p><%= @text_art %></p>
    <p>Hi <%= @user.username %>,</p>
    <p>A password reset was requested. Click the link below to reset to a new password:</p>
    <p><a href="<%= @reset_url %>">Reset my password</a></p>
    <p>This link expires in 2 hours. If you didn't request this, please ignore this email.</p>
    <p>Thanks from Tessellates, <%= @emoji %></p>
  </body>
</html>
