<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Reset your Tessellates password</h1>
    <p>Hi <%= @user.username %>,</p>
    <p>Someone requested a password reset for your account. Click the link below to set a new password:</p>
    <p><a href="<%= @reset_url %>">Reset my password</a></p>
    <p>This link expires in 2 hours. If you didn't request a reset, you can ignore this email.</p>
  </body>
</html>
