<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @text_art %></p>
    <h1>Hello Tessellates, <%= @user.username %>!</h1>
    <p>Verify email address by visiting:</p>
    <p><a href="<%= @verification_url %>">Verify Tessellates</a></p>
    <p>If you didn't create this account, pleae ignore this email.</p>
    <p>Thanks from Tessellates, <%= @emoji %></p>
  </body>
</html>
