
<h1>New Garden</h1>

<%= form_with(model: [@collection, @garden]) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
