/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/*
 * Starting with big global css!
 *
 */
body {
    font-family: 'Inconsolata', "Courier New", Courier, monospace;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: normal;
}

div.centre {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}


ul.track-list {
    list-style-type: none;
    margin-left: 25%;
    margin-right: 25%;
}

div.annotation-container {
    width: 75%;
    display: flex;
    justify-content: center;
}

div.annotation-type {
    flex: 2 1 auto;
}

ul.annotation-list {
    list-style-type: none;

li.annotation-item {
    text-align: left;
}

button.btn-small {
    border: none;
    background: none;
    font-size: 100%;
    font-family: 'Inconsolata', "Courier New", Courier, monospace;
}

div.form-div {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
